$color-titles: #424242;
$color-date: #5f6368;
$color-text: #414549;
$blue: #4285f4;
$font-principal: 'Roboto', sans-serif;
$font-titles: 'Product Sans', sans-serif;
$font-footerpage: 'Roboto Mono', monospace;
